.allElements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bbttnn{
    padding: 13px 29px;
    margin: 20px;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
}
.bbttnnn{
    padding: 13px 29px;
    margin: 20px;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
}
.v-all{
    display: flex;
    justify-content: center;
}
.btn-class{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.items-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.box{
    padding-top: 0px;
}
.imgg{
    display: flex;
    height: 150px;
    width: 300px;
    margin: 30px;
}
.pro-img{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin-left: 30px;
    
}
.div2{
    gap: 18px;
}

.no-data{
    align-items: center;
    gap: 50px;
}

.tik{
    height: 20px;
    width: 20px;
}


.upper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.contents{
    flex-wrap: wrap;
}


.btnnnnn{
    background-color: brown;
}


.timee {
    position: relative; 
    bottom: 65px;
    left: 30px;
    font-size: 22px;
    background-color: black;
    color: white;
    display: inline;
} 




/* .timee {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
} */